<html lang ="en">
    <head> 
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> contact page </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
          .center {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 30%;
          }
        }
      </style>
 </head>

<body class="d-flex flex-column h-100" data-new-gr-c-s-check-loaded="14.1166.0" data-gr-ext-installed="">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Morgan Jones</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="homepage.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="certs.html">Certifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contacts</a>
            </li>
           
        </div>
       
        </nav>

<form id="form-id">
    <div class="mb-3">
      <label for="InputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="InputName" class="form-label">First & Last Name </label>
      <input type="name" class="form-control" id="InputName">
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>

  </form>

  <script>
    $(document).ready(function() {

      $('#form-id').on('submit', function (e) {
        e.preventDefault();
        const email = $('#email').val();
        const name = $('#name').val();
        const data = {
          email,
          name,
        };
        $.ajax({
          url: `http://localhost:8888/contacts`,
          type: "POST",
          data: data,
          dataType: "json",
          contentType: "application/json",
          success: function (data) {
            console.log(data);
            window.location.replace("submit");
          },
          error: function (error) {
            console.log(error);
          },
                          
      });
      });
    });

  </script>
  </html>